

<form action = "/submitreport">
	<div id = "dropdown">
	<br></br>
	<label class="lb">Class</label>
	<select class = "dd" name="course_id">
		<% for(var i=0; i < courses.length; i++) { %>
		   <option value=<%= courses[i].course_id %> >
		     <%= courses[i].course_name %>
		   </option>
		<% } %>
	</select>
	<br></br>
	<label class = "lb">Week</label>
	<select class="dd" name = "week">
		<% for(var i=1; i < 13; i++) { %>
		   <option value= <%= i %>>
		     <%= i %>
		   </option>
		<% } %>
	</select>
	<br></br>
	</div>
	<div id = "error">
<% if (req.session.flash && req.session.flash.error) { %><%=req.flash('error')%><% } %>
</div>

	<div id = "questionsform">
	<br></br>
		<% for(var i=0; i < questions.length; i++) { %>
			<div id="questions">
				<%= questions[i].question_detail %>
			</div>
			<div id="answers">
				<label>Strongly disagree</label>
				<input type ="radio" name=<%= questions[i].question_id %> id="sdisagree" value="1" required>
				<label>Disagree</label>
				<input type ="radio" name=<%= questions[i].question_id %> id="disagree" value="2" required>
				<label>Neutral</label>
				<input type ="radio" name=<%= questions[i].question_id %> id="neutral" value="3">
				<label>Agree</label>
				<input type ="radio" name=<%= questions[i].question_id %> id="agree" value="4">
				<label>Strongly agree</label>
				<input type ="radio" name=<%= questions[i].question_id %> id="sagree" value="5" required>
			</div>
			<br></br>
		<% } %> 
			<div id = "please">
		    Please add any comments below.</div>
		<textarea id = "comments" name="comments" cols="65" rows="5"></textarea> 

	</div>
	<button id="submitbutton" type="submit">Submit</button>
	<br></br>

</form>