
<div id="logout" >
	<a class ="userbutton" href="/logout">Logout</a>
</div>


	<div id = "error">
<% if (req.session.flash && req.session.flash.error) { %><%=req.flash('error')%><% } %>
</div>

<form action="/twoclasses">
	<div id = "dropdown">
		<br></br>
		<label class="lb">Class 1</label>
		<select class = "dd" name="courseid1">
			<% for(var i=0; i < courses.length; i++) { %>
			   <option value=<%= courses[i].course_id %> >
			     <%= courses[i].course_name %>
			   </option>
			<% } %>
		</select>
		<br></br>
		<label class = "lb">Week 1</label>
		<select class="dd" name = "week1">

			<option value=0>
				All Weeks
			</option>
			<% for(var i=1; i < 13; i++) { %>
			   <option value= <%= i %>>
			     <%= i %>
			   </option>
			<% } %>
		</select>
		<br></br>

		<br></br>
		<label class="lb">Class 2</label>
		<select class = "dd" name="courseid2">
			<% for(var i=0; i < courses.length; i++) { %>
			   <option value=<%= courses[i].course_id %> >
			     <%= courses[i].course_name %>
			   </option>
			<% } %>
		</select>
		<br></br>
		<label class = "lb">Week 2</label>
		<select class="dd" name = "week2">

			<option value=0>
				All Weeks
			</option>
			<% for(var i=1; i < 13; i++) { %>
			   <option value= <%= i %>>
			     <%= i %>
			   </option>
			<% } %>
		</select>
		<br></br>
		</div>
		<button type="submit" class ="userbutton">Submit</button>
		</div>

</form>
<br></br>
<a href="javascript:history.back()" class = "userbutton">Create another report</a>
